body {
    background-color: #131313;
}

.centered {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-size: 2em;
    font-family: 'Lobster', cursive;
    color: white;
}
