body {
    background-color: #131313;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
    color: white;
}

p.cursive {
    font-family: 'Pacifico', cursive;
}

p.cursive.leckerli {
    font-family: 'Leckerli One', cursive;
}

p.cursive.pacifico {
    font-family: 'Pacifico', cursive;
}

p.brand {
    margin-top: 1rem;
    margin-left: 2.5rem;
    font-size: 3rem;
}

.crp {
    position: absolute;
}

.crp .content {
    text-align: center;
    font-family: monospace;
    margin-top: 5em;
    margin-bottom: 5em;
}

.crp p.title {
    font-family: Pacifico, 'cursive';
    font-size: 2em;
}

.crp p.date {
    font-family: monospace;
    font-size: 1em;
    margin-bottom: 3em;
    margin-top: -0.25em;
}

.crp p.message {
    max-width: 30em;
    display: inline-block;
    font-family: monospace;

    padding: 0 1em;
    font-size: 1.25em;
}

.crp p.footnote {
    font-family: monospace;
    font-size: 1em;
    margin-top: 2em;
}
