html {
    overflow-x: hidden;
}

.mobile-warning {
    display: none;
}

.circle {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: 'SHAOLIN-Display';
    src:
        url('../fonts/Shaolin/SHAOLIN-Display.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Shaolin/SHAOLIN-Display.otf') format('opentype'),
        url('../fonts/Shaolin/SHAOLIN-Display.woff') format('woff'),
        url('../fonts/Shaolin/SHAOLIN-Display.ttf') format('truetype'),
        url('../fonts/Shaolin/SHAOLIN-Display.svg#SHAOLIN-Display') format('svg');
    font-weight: normal;
    font-style: normal;
}

a, p {
    color: #000000;
    text-decoration: none;
    font-family: SHAOLIN-Display;
    line-height: 1.15;
}

strong {
    font-weight: bold;
}

i {
    font-style: oblique;
}

a.srf, p.srf, span.srf, h1.srf, div.srf {
    font-family: p22-mackinac-pro, serif;
}

#app a:hover {
    color: #222222;
}

.screen-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.clearfix {
    clear: both;
}

.animated {
    visibility: hidden;
}

.animated.fadeInUp,
.animated.fadeInLeft {
    visibility: visible;
}

.vline, .hline {
    background-color: black;
    position: absolute;
}

.vline {
    width: 1px;
}

.hline {
    height: 1px;
}

.boxed {
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

.ripple {
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

.street-grid {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.trg {
    position: absolute;
    cursor: pointer;
}

.trg .hoverable {
    position: absolute;
}

.trg:hover .hoverable {
    display: none;
}

body .glide__bullets {
    bottom: -10px;
}

body .glide__bullet.glide__bullet--active,
body .glide__bullet.glide__bullet--active:focus {
    background-color: #38cae5;
}

body .glide__bullet {
    background-color: gray;
}

body .glide__bullet:hover,
body .glide__bullet:focus {
    background-color: lightgray;
    border: inherit;
}

body .carousel-scene .glide__slide {
    opacity: 0.25;
}

body .carousel-scene .glide__slide.nonpeek {
    opacity: 1;
}

button {
    background-color: #38cae5;
    border: 1px solid transparent;
    color: white;
    padding: 20px 0;
    border-radius: 35px;
    font-size: 20px;
    font-weight: bold;
    width: 280px;
}

button:hover {
    background-color: white;
    color: #231f20;
    border: 1px solid #231f20;
}

#home, #about, #contact, #policy {
    background-color: #231F20;
}

#navbar {
    position: relative;
    background-color: #231F20;
    z-index: 1;
}

#navbar .row-one {
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

#navbar .trg {
    right: 115px;
}

#navbar .menu-trigger {
    position: absolute;
    right: 50px;
    cursor: pointer;
}

#navbar .circle-container {
    left: 72.5px;
    top: 55px;
    position: absolute;
}

#navbar #logo {
    margin-left: 50px;
}

#navbar ul {
    font-size: 15px;
    margin: 0 105px;
}

#navbar ul li {
    display: inline-block;
    margin-right: 20px;
}

#navbar ul li a {
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    color: white;
    position: relative;
    z-index: 10;
}

#navbar ul li a:hover,
#navbar ul li a.active {
    color: white;
    border-color: white;
}

#home .hard-to-define {
    margin-top: 65px;
    padding: 0 50px;
}

#home .hard-to-define p {
    font-size: 109px;
    line-height: 1.1;
    color: white;
    position: relative;
    z-index: 10;
}

#home .street-grid {
    bottom: 500px;
}

#home .long-arrow {
    position: absolute;
    top: -490px;
    z-index: 8;
    left: 50%;
    transform: translateX(-50%);
}

#home .bridge-scene {
    position: relative;
}

#home .bridge-scene p.title {
    font-size: 53px;
    font-family: SHAOLIN-Display;
}

#home .bridge-scene .dark p.title {
    width: 48.5%;
    text-align: right;
    z-index: 1;
    color: white;
    position: relative;

    padding-top: 300px;
    padding-bottom: 140px;
}

#home .bridge-scene .water-panel {
    transform: skewY(-7deg);
    transform-origin: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 535px;
}

#home .bridge-scene .skewed-fill {
    width: 50%;
    margin-left: 50%;
    height: 110px;
    background-color: white;
    position: relative;
}

#home .bridge-scene .water {
    background-color: #38CAE5;
    height: 200px;
}

#home .bridge-scene .light {
    padding-top: 60px;
    background-color: white;
    position: relative;
}

#home .bridge-scene .light p.title {
    margin-left: 52.5%;
    width: 48.5%;
    color: black;
}

#home .bridge-scene .light p.description {
    width: 48.5%;
    font-size: 25px;
    padding-top: 100px;
    padding-bottom: 135px;
    text-align: right;
}

#home .how,
#home .how .boxed {
    position: relative;
    background-color: white;
}

#home .how .number {
    font-size: 33px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#home .how .title {
    font-size: 43px;
    font-family: SHAOLIN-Display;
    line-height: 1.15;
}

#home .how .description {
    font-size: 18px;
    line-height: 1.5;
}

#home .how.one {
    height: 850px;
}

#home .how.one .content {
    margin: 0 auto;
    width: 670px;
    z-index: 10;
    position: relative;

    padding-top: 210px;
    padding-left: 130px;
}

#home .how.one .title {
    margin: 40px 0 20px 70px;
}

#home .how.one .title span {
    color: white;
}

#home .how.one .description {
    max-width: 400px;
    margin-left: 70px;
}

#home .how.one .vline {
    top: -25px;
    left: -30px;
}

#home .how.one .hline {
    top: -25px;
    left: -90px;
}

#home .how.one .circle-bg {
    background-color: #38CAE5;
    width: 830px;
    height: 830px;
    position: absolute;
    border-radius: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

#home .how.two {
    padding: 60px 0;
}

#home .how.two .content {
    width: 900px;
    margin: 0 auto;
}

#home .how.two img {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    margin-left: 165px;
}

#home .how.two .number {
    margin-bottom: 30px;
}

#home .how.two .hline {
    top: 105px;
}

#home .how.two .messages {
    width: 390px;
    display: inline-block;
}

#home .how.three {
    height: 850px;
}

#home .how.three .number {
    margin-bottom: 30px;
}

#home .how.three .hline {
    left: -40px;
    top: 50px;
}

#home .how.three .content {
    position: absolute;
    right: 50%;
    top: 90px;
    z-index: 1;
}

#home .how.three .description {
    margin-top: 20px;
    width: 450px;
}

#home .how.three img {
    position: absolute;
    left: 32.5%;
    top: -140px;
}

#home .how.four {
    height: 500px;
    padding-top: 50px;
}

#home .how.four .hline {
    position: absolute;
    top: 95px;
}

#home .how.four .content {
    text-align: right;
    position: absolute;
    right: 50%;
}

#home .how.four .title {
    margin-bottom: 20px;
    margin-top: 30px;
}

#home .how.four .description {
    max-width: 420px;
}

#home .how.four img {
    left: 50%;
    top: 135px;
    position: absolute;
    margin-left: 80px;
}

#home .how.three .ripple.sm {
    left: 65%;
    top: 90px;
}

#home .how.three .ripple.md {
    left: 60%;
    top: 360px;
}

#home .how.three .ripple.lg {
    left: 80%;
    top: 480px;
}

#home .how.five {
    height: 930px;
}

#home .how.five .number {
    margin-bottom: 30px;
}

#home .how.five .hline {
    left: -25px;
    top: 50px;
}

#home .how.five .vline {
    top: 5px;
    left: -25px;
}

#home .how.five .content {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 280px;
}

#home .how.five .description {
    margin-top: 20px;
    width: 480px;
}

#home .how.five img.monkey {
    position: absolute;
    z-index: 10;
    padding-right: 80px;
    opacity: 0;
}

#home .how.five .monkeybg.skewed {
    top: 220px;
    transform: skewY(-7deg);
}

#home .how.five .monkeybg {
    height: 600px;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 350px;
    background-color: #38CAE5;
}

#home .how.five img.whitefd {
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 60px;
    z-index: 6;
}

#home .customers-scene {
    background-color: white;
    text-align: center;
}

#home .customers-scene .title {
    font-size: 106px;
    max-width: 550px;
    margin: 0 auto;
    line-height: 1;
    z-index: 10;
    position: relative;
}

#home .customers-scene .customers {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

#home .customers-scene .customer {
    display: inline-block;
    margin: 0 20px;
    width: 250px;
}

#home .customers-scene .customer img {
    display: block;
    margin: 0 auto;
}

#home .customers-scene .customer .imgw {
    height: 80px;
    display: flex;
    align-items: center;
}

#home .customers-scene .customer hr {
    width: 200px;
    margin-bottom: 20px;
}

#home .customers-scene .customer .message {
    font-size: 17px;
    line-height: 1.25;
}

#home .customers-scene .customer .count {
    font-family: SHAOLIN-Display;
    display: block;
    font-size: 79px;
    font-weight: bold;
}

#home .customers-scene .trg {
    margin-top: 50px;
    padding: 25px 0;
    position: relative;
}

#home .carousel-scene {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#home .glide__bullets {
    bottom: -50px;
}

#home .carousel-scene > div {
    width: 80%;
    position: relative;
}

#home .carousel-scene .title {
    font-size: 53px;
    padding-bottom: 20px;
}

#home .carousel-scene .glide__slide > div {
    width: 75%;
    margin: 0 auto;
}

#home .carousel-scene .glide p.index {
    font-size: 79px;
    display: inline-block;
    width: 60px;
}

#home .carousel-scene .glide p.message {
    font-size: 17px;
    display: inline-block;
    width: calc(100% - 60px);
    vertical-align: top;
    line-height: 1.2;
    margin-top: 5px;
}

#home .carousel-scene .glide .handheld img {
    margin: 36px 0;
}

#about h1 {
    margin-top: 65px;
    font-size: 88px;
    line-height: 1.1;
    color: white;
    position: relative;
    z-index: 1;
}

#about .shrimp {
    height: 940px;
    position: absolute;
    left: -130px;
    top: 100px;
}

#about .panel {
    height: 1200px;
    position: relative;
    z-index: 1;
}

#about .street-grid {
    top: 420px;
}

#about .messages {
    max-width: 515px;
    position: absolute;
    left: 50%;
    top: 100px;
}

#about .messages p {
    color: white;
    line-height: 1.5;
}

#about .messages .question {
    font-size: 42px;
    margin-top: 60px;
    margin-bottom: 20px;
}

#about .messages .action {
    font-size: 42px;
    margin-top: 100px;
    margin-bottom: 30px;
}

#about .skewed,
#contact .skewed,
#policy .skewed {
    height: 260px;
    top: -130px;
    transform: skewY(-7deg);
    position: absolute;
    background-color: white;
    width: 100%;
}

#benefits h1,
#benefits .description,
#benefits .im-a,
#benefits .dropdown {
    color: white;
    position: relative;
    z-index: 5;
    text-align: center;
}

#benefits .welcome-panel {
    height: 1050px;
    background-color: #231F20;
    position: relative;
}

#benefits h1 {
    font-size: 106px;
    padding-top: 90px;
    padding-bottom: 60px;
}

#benefits .description {
    font-size: 25px;
    line-height: 1.25;
}

#benefits .im-a {
    font-size: 42px;
    margin-top: 60px;
    margin-bottom: 20px;
}

#benefits .dropdown {
    width: 450px;
    margin: 0 auto;
}

#benefits .dropdown .trigger,
#benefits .dropdown .option {
    background-color: #38cae5;
    border: 1px solid transparent;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial;
}

#benefits .dropdown .trigger:hover,
#benefits .dropdown .option:hover {
    color: rgba(255, 255, 255, 0.75);
}

#benefits .dropdown .trigger {
    border-radius: 35px 35px 0 0;
}

#benefits .dropdown .trigger.closed {
    border-radius: 35px;
}

#benefits .dropdown .option {
    border-top: 1px dashed rgba(255, 255, 255, 0.5);
}

#benefits .dropdown .option:last-child {
    border-radius: 0 0 35px 35px;
}

#benefits .street-grid {
    bottom: -425px;
    z-index: 1;
}

#benefits .skewed,
#brands .skewed {
    height: 300px;
    background-color: white;
    width: 100%;
    transform: skewY(-7deg);
    transform-origin: left;
    position: absolute;
    z-index: 1;
}

#benefits .accordions {
    background-color: white;
    position: relative;
    z-index: 1;
}

#benefits .accordions > div {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

#benefits .accordions .item {
    width: 460px;
    display: inline-block;
    margin: 30px 20px;
}

#benefits .accordions .item.last {
    width: 100%;
    display: flex;
    justify-content: center;
}

#benefits .accordions .item > div {
    display: flex;
    align-items: center;
}

#benefits .accordions .item img {
    margin-right: 20px;
}

#benefits .accordions .item p {
    font-size: 26px;
    line-height: 1.5;
}

#benefits p.loyalty {
    font-size: 26px;
    padding-top: 40px;
    text-align: center;
}

#benefits .carousel-scene {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    position: relative;
    z-index: 1;
}

#benefits .carousel-scene > div {
    width: 80%;
    position: relative;
}

#benefits .carousel-scene .title {
    font-size: 42px;
    padding-bottom: 80px;
    text-align: center;
}

#benefits .carousel-scene .title span {
    font-size: 31px;
    font-style: italic;
}

#benefits .carousel-scene .glide__slide > div {
    width: 80%;
    margin: 0 auto;

    text-align: center;
}

#benefits .carousel-scene .glide img {
    height: 160px;
}

#benefits .carousel-scene .glide p.index {
    font-size: 33px;
    font-family: p22-mackinac-pro, serif;
    position: absolute;
    top: 135px;
}

#benefits .carousel-scene .glide p.message {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    text-align: left;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 30px;
}

#benefits .cards-scene {
    height: 960px;
    position: relative;
    z-index: 1;
}

#benefits .cards-scene > div {
    display: inline-block;
    height: 760px;
    padding: 100px 50px;
    background-color: #EDEDED;
}

#benefits .cards-scene .default {
    text-align: right;
    width: calc(42.5% - 100px);
}

#benefits .cards-scene .cards {
    max-width: 450px;
    float: right;
}

#benefits .cards-scene .others {
    width: calc(57.5% - 100px);
    vertical-align: top;
    position: relative;
    background-color: #231F20;
}

#benefits .cards-scene .others .content {
    position: absolute;
    z-index: 1;
}

#benefits .cards-scene .others .panel-title {
    color: white;
}

#benefits .cards-scene .others .cards {
    max-width: 650px;
    opacity: 0;
}

#benefits .others .caret {
    margin-left: 5px;
    animation: colorblink .75s step-end infinite;
}

#benefits .others .tap {
    width: 80px;
    animation: opacityblink 2s linear infinite;
    cursor: pointer;
}

#benefits .others svg {
	position: absolute;
	top: 0;
	left: 0;
}

#benefits .others .overlay-path {
	fill: #EDEDED;
}

#benefits .cards-scene .panel-title {
    font-size: 43px;
    margin-bottom: 40px;
}

#benefits .cards-scene .flip-card {
    margin-left: 10px;
    margin-bottom: 10px;
}

#home img.dots,
#benefits img.dots {
    width: 100%;
}

#benefits img.dots {
    padding-top: 50px;
}

#home .action .trg,
#benefits .action .trg,
#brands .action .trg {
    position: relative;
    display: inline-block;
}

#home .footer-wrapper .action,
#benefits .footer-wrapper .action,
#brands .footer-wrapper .action {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
}

#home .footer-wrapper .action p,
#benefits .footer-wrapper .action p,
#brands .footer-wrapper .action p {
    font-size: 42px;
    margin-bottom: 50px;
}

#contact .panel {
    height: 800px;
    position: relative;
    z-index: 1;
    padding: 80px 105px;

    display: flex;
    justify-content: center;
}

#contact .messages {
    padding-right: 60px;
    width: 40%;
}

#contact p {
    color: white;
}

#contact .title {
    font-size: 50px;
}

#contact .description {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 36px;
}

#contact .address,
#contact .phone,
#contact .email {
    line-height: 1.5;
}

#contact .legend {
    color: gray;
    font-size: 14px;
    margin: 15px 0;
}

#contact form button {
    width: 140px;
    padding: 15px 0;
    margin-top: 40px;
}

#policy .messages .title {
    font-size: 42px;
    font-family: 'SHAOLIN-Display';
    margin-top: 60px;
    margin-bottom: 20px;
    color: white;
}

#policy .messages {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding-bottom: 300px;
}

#policy .messages,
#policy .messages p,
#policy .messages span {
    color: white;
    line-height: 1.5;
    font-size: 16px;
    font-family: p22-mackinac-pro, serif;
}

#policy .messages a {
    color: #38CAE5;
    font-family: p22-mackinac-pro, serif;
}

#policy .messages a:hover {
    color: #38CAE5;
    cursor: pointer;
}

#policy .pd {
    padding-left: 20px;
}

#brands .panel {
    height: 650px;
    background-color: #231F20;
    position: relative;
}

#brands h1 {
    color: white;
    position: relative;
    z-index: 5;
    text-align: center;

    font-size: 106px;
    padding-top: 90px;
    padding-bottom: 60px;
}

#brands .customers {
    position: relative;
    z-index: 1;
}

#brands .customers .imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

#brands .customers .imgs img {
    margin: 0 50px;
    cursor: pointer;
}

#brands .customers .title {
    max-width: 1080px;
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
}

#brands .customers .hline {
    margin-top: 20px;
}

#brands .o {
    padding: 20px 0;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1080px;
}

#brands .i {
    width: 80px;
}

#brands .p {
    display: inline-block;
    padding-left: 40px;
    width: 60%;
}

#brands .q {
    font-size: 42px;
    margin-bottom: 15px;
}

#brands .w {
    line-height: 1.25;
    font-size: 18px;
}

#brands .quote {
    max-width: 1080px;
    margin: 40px auto 80px;
}

#brands .quote .msg {
    font-size: 36px;
    max-width: 860px;
    margin: 20px 40px;
    display: inline-block;
}

#brands .quote .apostrophe {
    font-size: 60px;
    color: #38CAE5;
    font-weight: bold;
    line-height: 32px;
    padding-top: 10px;
    position: absolute;
}

#brands .quote .apostrophe.l {
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}

#brands .by {
    padding-left: 40px;
    font-size: 18px;
}

#menu {
    background-color: white;
    position: relative;
    z-index: 100;
}

#menu #sitemap #links {
    padding-left: 40%;
}

#menu #sitemap #body .mapbg {
    transform: scaleX(-1);
}

#menu #sitemap .ripple.sm {
    left: 9%;
    top: 25%;
}

#menu #sitemap .ripple.md {
    left: 20%;
    top: 50%;
}

#menu #sitemap .ripple.lg {
    left: 6%;
    top: 68%;
}

.footer-wrapper {
    position: relative;
    background-color: white;
}

#sitemap img.close {
    position: absolute;
    z-index: 1;
    width: 40px;
    right: 45px;
    top: 30px;
}

#sitemap img.logo {
    position: absolute;
    top: 35px;
    z-index: 1;
    left: 50px;
}

#sitemap #body .mapbg {
    content: "";
    background: white url("../images/dot-map-lp.png") no-repeat left top;
    background-size: 110%;

    width: 100%;
    height: 100%;
    position: fixed;
}

#sitemap #links {
    padding-top: 140px;
    padding-left: 48px;

    height: 100vh;
    box-sizing: border-box;
}

#sitemap #links .link {
    position: relative;
}

#sitemap #links .link p {
    bottom: 0;
    font-size: 18px;
    pointer-events: none;
}

#sitemap #links .link p {
    position: absolute;
    display: none;
}

#sitemap #links a:hover ~ p {
    display: block;
}

#sitemap #links a {
    display: inline-block;
    font-size: 112px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 5;
}

#sitemap #links a:hover {
    color: #38CAE5;
}

#sitemap #sublinks {
    margin-top: 40px;
}

#sitemap #sublinks a {
    font-size: 33px;
    margin: 5px 0;
}

#sitemap .ripple.sm {
    position: absolute;
    right: 45%;
    top: 70%;
}

#sitemap .ripple.md {
    position: absolute;
    right: 22.5%;
    top: 12.5%;
}

#sitemap .ripple.lg {
    position: absolute;
    right: 8%;
    top: 50%;
}

#footer {
    position: relative;
    width: 100%;
    padding: 20px 0 30px;
}

#footer .content {
    padding: 0 40px;
}

#footer .hr {
    border-top: 1px solid black;
    margin: 16px 0;
}

#footer #sublinks {
    font-size: 17px;
    display: inline-block;
}

#footer #sublinks a {
    margin-bottom: 10px;
    display: inline-block;
}

#footer #sublinks a:hover,
#footer #sublinks a.active {
    color: #38cae5;
}

#footer #copyright {
    float: right;
    text-align: right;
}

#footer #copyright img {
    margin-bottom: 18.73px;
}

#footer #copyright ul {
    font-size: 13px;
}

#footer #copyright ul li {
    display: inline-block;
    margin-left: 15px;
}

#footer #social-icons {
    width: 100%;
    text-align: right;
}

#footer #social-icons img {
    padding-right: 40px;
}

@keyframes colorblink {
    from, to { color: transparent }
    50% { color: white; }
}

@keyframes opacityblink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
