@media (min-width: 320px) and (max-width: 480px) {
    html {
        overflow: hidden;
    }

    .mobile-warning {
        display: block;

        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        z-index: 1000;
        background-color: white;
    }

    .mobile-warning p {
        font-family: monospace;
        padding: 2rem;
    }

    #drift-widget-container {
        display: none;
    }
}
